:root {
    --white-primary: #fff;
    --black: #000000;
    --blue-primary: #4831d4;
    --blue-secondary: #061e34;
    --green-primary: #ccf381;
    --green-secondary: #80945d;
    --gray-primary: #1f1f1f;
}