*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.btn {
    background: var(--white-primary);
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    margin: 0.3rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
}

.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.btn--theme {
    background-color: var(--green-secondary);
    color: var(--white-primary);
}

.btn--theme-inv {
    color: var(--gree-secondary);
    background: var(--white-primary);
    border: 2px solid var(--green-secondary);
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px);
}

.btn--hover:hover {
    color: var(--blue-primary);
}

.sec-pad {
    padding: 12rem 0;
}

.text-primary {
    color: var(--white-primary);
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

@media only screen and (max-width: 37.5em) {
    .text-primary {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .sec-pad {
        padding: 8rem 0;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px;
    }
}